body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
    #signup{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    }
    #email,#password,#firstName,#lastName{
    padding: 10px;
    font-size: large;
    }
    #signInput{
    padding: 10px 20px;
    }